n8n-workflow-full.json
{
  "name": "PCA - Gmail → API → MinIO → Analyze (full)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "simple": false,
        "filters": {},
        "options": { "downloadAttachments": true }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [200, 400],
      "id": "af3600ec-b25f-4de2-bdeb-faf99f1c2fc2",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": { "id": "mnNU55BVcOrbbyaA", "name": "Gmail account 9" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3005/api/test/candidatures",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "email", "value": "={{ $json.from.value[0].address }}" },
            { "name": "fullName", "value": "={{ $json.from.value[0].name }}" },
            { "name": "subject", "value": "={{ $json.subject }}" },
            { "name": "source", "value": "email" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [440, 400],
      "id": "df703e33-c978-446e-9bbf-a66e86700438",
      "name": "1 - Initialize Candidate API"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [680, 400],
      "id": "22bc0a44-bcab-4adf-bdde-d71df02768f5",
      "name": "2 - Merge (Gmail + API response)"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst baseUrl = 'http://localhost:9000';\n\nreturn items.map((item) => {\n  const uploadUrl = String(item.json.uploadUrl || '').trim();\n  let fullUploadUrl = baseUrl + uploadUrl;\n  fullUploadUrl = fullUploadUrl.replace(/^[=]+/, '').replace(/^-+/, '');\n  if (!fullUploadUrl.startsWith('http')) fullUploadUrl = baseUrl + uploadUrl;\n\n  return {\n    json: { ...item.json, fullUploadUrl },\n    binary: item.binary,\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 400],
      "id": "ca51b59c-f1b6-4c3a-b60c-dc1e6c2e02cb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.fullUploadUrl }}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1160, 400],
      "id": "55b78756-220d-4554-895c-4d4c95cf335b",
      "name": "3 - Upload CV to MinIO",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "6968f427-5923-43f8-8619-483367f275b5", "name": "status", "value": "uploaded", "type": "string" },
            { "id": "0b57c6ad-9dfe-459a-89f5-5a26d687cf91", "name": "candidateId", "value": "={{ $('1 - Initialize Candidate API').item.json.candidateId }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1400, 400],
      "id": "f944730b-49ff-4d27-98be-25fcdd98c861",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://localhost:3005/api/candidatures/' + ($('1 - Initialize Candidate API').item.json.id ?? $json.id) + '/analyze' }}",
        "sendBody": false,
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1640, 400],
      "id": "a1b2c3d4-analyze-cv-api",
      "name": "4 - Analyze CV (API)",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[
        { "node": "1 - Initialize Candidate API", "type": "main", "index": 0 },
        { "node": "2 - Merge (Gmail + API response)", "type": "main", "index": 0 }
      ]]
    },
    "1 - Initialize Candidate API": {
      "main": [[
        { "node": "2 - Merge (Gmail + API response)", "type": "main", "index": 1 }
      ]]
    },
    "2 - Merge (Gmail + API response)": {
      "main": [[
        { "node": "Code in JavaScript", "type": "main", "index": 0 }
      ]]
    },
    "Code in JavaScript": {
      "main": [[
        { "node": "3 - Upload CV to MinIO", "type": "main", "index": 0 }
      ]]
    },
    "3 - Upload CV to MinIO": {
      "main": [[
        { "node": "Edit Fields", "type": "main", "index": 0 }
      ]]
    },
    "Edit Fields": {
      "main": [[
        { "node": "4 - Analyze CV (API)", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": {},
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "active": false
}
