PCA - IMAP → MinIO → OpenAI (n8n) EXACT→ PCA.json
{
  "name": "PCA - IMAP → MinIO → OpenAI (n8n) → PCA",
  "nodes": [
    {
      "parameters": {
        "content": "## E-mails « Email — Entretien … » (PCA)\n\n1. **From** : texte fixe (ex. hydragaming595@gmail.com). Pas de `$env` sur From (« env vars denied », souvent « No recipients »).\n\n2. **To** : `={{ String($json.toEmail || $json.email || '').trim() }}` — après **Normalize**, la sortie est **plate** : ne pas utiliser `$json.body.email`.\n\n3. **Send Email v2.1** : **Resource = Email**, **Operation = Send** (sinon le destinataire peut être ignoré → « No recipients defined »).\n\n4. Credential SMTP sur les 3 nœuds ; `.env` : `N8N_INTERVIEW_WEBHOOK_URL_*` → …/webhook/pca-interview-*",
        "height": 380,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -15040,
        4912
      ],
      "id": "114ff1dd-46a5-4e25-9932-332c586404a9",
      "name": "LISEZ — SMTP sans $env"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5a397bf0-12cf-4ae2-a927-2357e1cfaa6e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -15168,
        5264
      ],
      "id": "7f3cdbc0-90dd-4de9-af3e-868bdce3e391",
      "name": "Webhook (PCA) — Entretien RH",
      "webhookId": "eaca192c-cc7a-42cf-a7e2-cb4c062600e8"
    },
    {
      "parameters": {
        "fromEmail": "hydragaming595@gmail.com",
        "toEmail": "={{ $json.body && $json.body.email ? $json.body.email : $json.email }}",
        "subject": "=Invitation à un entretien RH – Candidature {{ $json.body && $json.body.subject ? $json.body.subject : $json.subject }}",
        "emailFormat": "text",
        "text": "={{ ($json.body && $json.body.emailBody && String($json.body.emailBody).trim()) ? String($json.body.emailBody).trim() : ('Madame, Monsieur ' + ($json.body && $json.body.candidateName ? $json.body.candidateName : $json.candidateName) + ',\\n\\nSuite à l\\'étude de votre candidature pour le poste de \"' + ($json.body && $json.body.subject ? $json.body.subject : $json.subject) + '\", nous vous invitons à un entretien.\\n\\n- Date et heure : ' + ($json.body && $json.body.scheduledAt ? $json.body.scheduledAt : $json.scheduledAt) + '\\n- Mode : ' + ($json.body && $json.body.mode ? $json.body.mode : $json.mode) + '\\n- Lieu / lien visio : ' + ($json.body && $json.body.location ? $json.body.location : $json.location) + '\\n\\nRestant à votre disposition,\\n\\nCordialement,\\nÉquipe RH – PCA') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -14544,
        5264
      ],
      "id": "3a41c532-8620-4e38-99a2-b4b26c3d1550",
      "name": "Email — Entretien RH",
      "webhookId": "5f0667c3-6ec7-4a0c-922d-5f33dfee593e",
      "credentials": {
        "smtp": {
          "id": "Uuo8bp7ZuNoWBkiy",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "## OpenAI dans n8n + « mémoire »\n- Ce flux utilise **HTTP Request** + credential **OpenAI API** (clé uniquement dans n8n).\n- **Mémoire conversationnelle** : pour plusieurs tours dans le même workflow, remplacez les nœuds 10–11 par un sous-graphe **Basic LLM Chain** + **Window Buffer Memory** + **OpenAI Chat Model** (menu *Add node* → LangChain).\n- Si l’import signale une erreur de credential : ouvrez le nœud 10 et sélectionnez votre compte OpenAI.",
        "height": 320,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -12608,
        5504
      ],
      "id": "ad92d488-fe0b-4686-b82e-a97f58225f28",
      "name": "Note mémoire LangChain"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://127.0.0.1:3005/api/candidatures/' + $json.candidatureId + '/analysis-result' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ summary: $json.summary, skills: $json.skills, experience: $json.experience, strengths: $json.strengths, risks: $json.risks, score: $json.score, decision: $json.decision, offer_context: $json.offer_context, school: $json.school, school_type: $json.school_type, phone: $json.phone, experience_count: $json.experience_count, experience_duration: $json.experience_duration, experience_years_avg: $json.experience_years_avg, last_employer: $json.last_employer, candidate_name: $json.candidate_name != null && $json.candidate_name !== '' ? $json.candidate_name : null, emailSubject: $('2 - Merge (Email + API response)').first().json.subject, cv_excerpt: String(($('8 - Get CV text (PCA, no OpenAI)').first().json.text || '')).slice(0, 6000), offerTitle: $json.offerTitle, offerDescription: $json.offerDescription }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -12112,
        5808
      ],
      "id": "a356c7c2-71d7-4fc3-a964-87952306604f",
      "name": "12 - Save analysis (PCA API)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst content = raw.choices && raw.choices[0] && raw.choices[0].message && raw.choices[0].message.content;\nif (!content) throw new Error('Réponse OpenAI vide: ' + JSON.stringify(raw).slice(0, 500));\nlet s = String(content).trim().replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/,'').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(s);\n} catch (e) {\n  throw new Error('JSON invalide: ' + e.message + ' — ' + s.slice(0, 300));\n}\nconst meta = $('9 - Assemble LLM payload').first().json;\nconst cvText = String($('8 - Get CV text (PCA, no OpenAI)').first().json.text || '');\n\nfunction nsp(v) { return String(v || '').replace(/\\s+/g, ' ').trim(); }\nfunction norm(v) { return nsp(v).toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, ''); }\n\nfunction isNoiseCandName(n) {\n  if (n == null || String(n).trim() === '') return true;\n  const x = norm(n);\n  if (/^(a propos de moi|about me|soft skills|hard skills|formation|projets?|competences|skills|resume|summary)$/.test(x)) return true;\n  if (/\\bpropos\\b/.test(x) && /\\bmoi\\b/.test(x)) return true;\n  if (/\\babout\\b/.test(x) && /\\bme\\b/.test(x)) return true;\n  return false;\n}\n\nfunction isNoiseEmployerName(v) {\n  const t = norm(v).replace(/[.,;:!?]+$/g, '');\n  if (!t) return true;\n  if (/^(present|actuel|actuelle|actuellement|current|maintenant|aujourd hui)$/.test(t)) return true;\n  if (/^(project|projet|application|app|website|site web|portfolio|capstone|cloud engineer|devops engineer|data analyst|bi engineer)$/.test(t)) return true;\n  return false;\n}\n\nfunction inferSchoolFromCv(cv, fallback) {\n  const txt = String(cv || '');\n  const lines = txt.split(/\\r?\\n/).map((l) => nsp(l)).filter(Boolean);\n  const schoolRegex = /(emsi|ensias|inpt|ensam|ensa|enset|est|fst|faculte|facult[eé] des sciences|ofppt|supmti|uic|esca|isga|uir|universite)/i;\n  for (const l of lines) {\n    if (schoolRegex.test(l) && l.length >= 8) return l;\n  }\n  const inline = txt.match(/(EMSI[^\\n]{0,120}|ENSIAS[^\\n]{0,120}|INPT[^\\n]{0,120}|ENSET[^\\n]{0,120}|EST[^\\n]{0,120}|FST[^\\n]{0,120}|Facult[ée][^\\n]{0,120}|Universit[ée][^\\n]{0,120})/i);\n  return inline ? nsp(inline[0]) : nsp(fallback || '');\n}\n\nfunction inferSchoolType(school, rawType) {\n  const t = norm(rawType).toUpperCase();\n  if (t === 'PUBLIC' || t === 'PRIVE') return t;\n  const s = norm(school);\n  if (!s) return null;\n  if (/(emsi|supmti|uic|esca|isga|universiapolis|upm|hem|uir)/.test(s)) return 'PRIVE';\n  if (/(ensias|inpt|ensam|ensa|enset|est|fst|\\bfs\\b|faculte|ofppt|universite hassan|universite mohammed|ibn tofail)/.test(s)) return 'PUBLIC';\n  return null;\n}\n\nfunction parseRangeToMonths(startMonth, startYear, endMonth, endYear) {\n  const s = Number(startYear) * 12 + Number(startMonth);\n  const e = Number(endYear) * 12 + Number(endMonth);\n  const d = e - s + 1;\n  return d > 0 ? d : 0;\n}\n\nfunction extractExperienceMonths(cv) {\n  const txt = norm(cv);\n  const monthMap = { janv:1, janvier:1, fev:2, fevrier:2, mars:3, avr:4, avril:4, mai:5, juin:6, juil:7, juillet:7, aout:8, sept:9, septembre:9, oct:10, octobre:10, nov:11, novembre:11, dec:12, decembre:12 };\n  const monthKeys = Object.keys(monthMap).join('|');\n  const re = new RegExp(`\\\\b(${monthKeys})\\\\s+(20\\\\d{2})\\\\s*[-–]\\\\s*(${monthKeys}|present|actuel|actuelle|actuellement)\\\\s*(20\\\\d{2})?`, 'gi');\n  let m;\n  let total = 0;\n  let count = 0;\n  const now = new Date();\n  while ((m = re.exec(txt)) !== null) {\n    const sm = monthMap[m[1]];\n    const sy = parseInt(m[2], 10);\n    const endToken = m[3];\n    const em = monthMap[endToken] || (endToken.startsWith('act') || endToken === 'present' ? now.getMonth() + 1 : null);\n    const ey = m[4] ? parseInt(m[4], 10) : (endToken.startsWith('act') || endToken === 'present' ? now.getFullYear() : null);\n    if (!sm || !sy || !em || !ey) continue;\n    const d = parseRangeToMonths(sm, sy, em, ey);\n    if (d > 0 && d <= 120) {\n      total += d;\n      count += 1;\n    }\n  }\n  return { totalMonths: total || null, detectedCount: count || null };\n}\n\nfunction formatDuration(months) {\n  if (!months || months <= 0) return '';\n  if (months < 12) return `${months} mois`;\n  const y = Math.floor(months / 12);\n  const m = months % 12;\n  if (!m) return `${y} an${y > 1 ? 's' : ''}`;\n  return `${y} an${y > 1 ? 's' : ''} ${m} mois`;\n}\n\nfunction parseMonths(rawDur) {\n  const sDur = norm(rawDur);\n  if (!sDur) return null;\n  let months = 0;\n  const y = sDur.match(/(\\d+(?:[.,]\\d+)?)\\s*(an|ans|year|years)/);\n  const m = sDur.match(/(\\d+(?:[.,]\\d+)?)\\s*(mois|month|months)/);\n  if (y) months += Math.round(parseFloat(y[1].replace(',', '.')) * 12);\n  if (m) months += Math.round(parseFloat(m[1].replace(',', '.')));\n  if (!months) {\n    const only = sDur.match(/^\\d+(?:[.,]\\d+)?$/);\n    if (only) months = Math.round(parseFloat(only[0].replace(',', '.')) * 12);\n  }\n  return months > 0 ? months : null;\n}\n\nfunction lastEmployerFromCv(cv) {\n  const txt = String(cv || '');\n  const re = /([^\\n|()]{3,80})\\s*(?:\\(|\\|)/g;\n  const arr = [];\n  let m;\n  while ((m = re.exec(txt)) !== null) {\n    const company = nsp(m[1]);\n    if (isNoiseEmployerName(company)) continue;\n    const win = txt.slice(Math.max(0, m.index - 120), Math.min(txt.length, m.index + 280));\n    const years = [...win.matchAll(/\\b(19|20)\\d{2}\\b/g)].map(mm => parseInt(mm[0], 10));\n    const maxYear = years.length ? Math.max(...years) : -1;\n    arr.push({ company, maxYear, pos: m.index });\n  }\n  if (!arr.length) return null;\n  arr.sort((a, b) => (b.maxYear - a.maxYear) || (a.pos - b.pos));\n  return arr[0].company;\n}\n\nconst rawName = parsed.candidate_name ?? parsed.candidateName ?? parsed.full_name ?? parsed.nom_candidat ?? parsed.nomComplet;\nconst candidateRaw = rawName != null && String(rawName).trim() !== '' ? String(rawName).trim() : null;\nconst candidate_name = candidateRaw && !isNoiseCandName(candidateRaw) ? candidateRaw : null;\n\nconst expMeta = extractExperienceMonths(cvText);\nlet expCount = Number.isFinite(Number(parsed.experience_count)) ? Math.max(0, parseInt(String(parsed.experience_count), 10)) : 0;\nif ((expCount === 0 || expCount > 8) && expMeta.detectedCount) expCount = expMeta.detectedCount;\n\nlet score = Number.isFinite(Number(parsed.score)) ? Number(parsed.score) : 50;\nconst offerMatch = Number.isFinite(Number(meta.offerMatchScore)) ? Number(meta.offerMatchScore) : null;\nif (offerMatch != null) {\n  if (offerMatch < 8) score = Math.min(score, 58);\n  else if (offerMatch < 18) score = Math.min(score, 70);\n}\nscore = Math.round(Math.max(0, Math.min(100, score)));\nif (expCount === 0 && score > 68) score = 68;\n\nlet decision = String(parsed.decision || '').toUpperCase().trim();\nif (expCount === 0 && decision === 'ACCEPTEE' && score <= 70) decision = 'A REVOIR';\nif (!['ACCEPTEE','REFUSEE','A REVOIR','NON_LISIBLE'].includes(decision)) decision = 'A REVOIR';\n\nconst fromCv = lastEmployerFromCv(cvText);\nconst llmLeRaw = parsed.last_employer != null ? nsp(parsed.last_employer) : '';\nconst llmLe = isNoiseEmployerName(llmLeRaw) ? '' : llmLeRaw;\nconst last_employer = expCount === 0 ? null : (fromCv || llmLe || null);\n\nconst school = inferSchoolFromCv(cvText, parsed.school);\nconst school_type = inferSchoolType(school, parsed.school_type);\n\nlet durationMonths = parseMonths(parsed.experience_duration);\nif (!durationMonths && expMeta.totalMonths) durationMonths = expMeta.totalMonths;\nlet experience_duration = durationMonths ? formatDuration(durationMonths) : '';\nlet experience_years_avg = Number.isFinite(Number(parsed.experience_years_avg)) ? Number(parsed.experience_years_avg) : null;\n\nif (expCount <= 0) {\n  experience_duration = '';\n  experience_years_avg = null;\n} else {\n  if (durationMonths) {\n    const avg = Number((durationMonths / 12 / Math.max(1, expCount)).toFixed(2));\n    if (experience_years_avg == null || experience_years_avg <= 0 || experience_years_avg > avg + 0.2 || experience_years_avg < 0.08) {\n      experience_years_avg = avg;\n    }\n  } else if (experience_years_avg != null && experience_years_avg > 0) {\n    durationMonths = Math.max(1, Math.round(experience_years_avg * 12 * expCount));\n    experience_duration = formatDuration(durationMonths);\n  } else {\n    experience_years_avg = null;\n    experience_duration = '';\n  }\n}\n\nreturn [{ json: { ...parsed, score, decision, school, school_type, experience_count: expCount, experience_duration, experience_years_avg, candidatureId: meta.candidatureId, offerTitle: meta.offerTitle, offerDescription: meta.offerDescription, candidate_name, last_employer } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12336,
        5808
      ],
      "id": "2068c118-780d-4f9a-9c82-b44119e7ff05",
      "name": "11 - Parse LLM JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0, max_tokens: 1800, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: $json.systemPrompt }, { role: 'user', content: $json.llmUserMessage } ] }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -12544,
        5808
      ],
      "id": "3f0b54da-bcc0-4ea5-96bb-5ebb2bc9ace8",
      "name": "10 - OpenAI (credentials n8n)",
      "credentials": {
        "openAiApi": {
          "id": "TkP04RgIaojJb2wp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cvRes = $input.first().json;\nconst offer = $('7 - Set Offer Context').first().json;\nconst init = $('1 - Initialize Candidate API').first().json;\nconst email = $('2 - Merge (Email + API response)').first().json;\n\nlet cvText = String(cvRes.text || '').trim();\nif (!cvText || cvText.length < 20) {\n  cvText = '[CV TEXTE COURT/BRUITE]\\nLe texte extrait est court, mais il faut continuer l analyse normalement (ne pas forcer NON_LISIBLE).\\nUtiliser les éléments réellement présents: en-tête CV, expériences, compétences, et contexte email/offre.';\n}\nconst offerTitle = String(offer.offerTitle || '');\nconst offerDescription = String(offer.offerDescription || '');\nconst subject = String(email.subject || '');\nconst fromVal = email.from && email.from.value && email.from.value[0];\nconst fromLine = fromVal ? `${fromVal.name || ''} <${fromVal.address}>`.trim() : String(email.from || '');\nconst bodySnippet = String(email.text || email.textPlain || '').slice(0, 2500);\n\nconst internalMatch = typeof offer._offerMatchScore === 'number' && Number.isFinite(offer._offerMatchScore) ? offer._offerMatchScore : null;\nconst CATALOG_MIN = 18;\nconst offerFromCatalog = internalMatch != null && internalMatch >= CATALOG_MIN;\nconst matchLine = internalMatch != null ? ('\\n[Métadonnée PCA — matching sujet → catalogue] Score interne n8n : ' + internalMatch + ' (seuil dans ce workflow : ' + CATALOG_MIN + '). ' + (offerFromCatalog ? 'Offre catalogue retenue : le score mesure surtout l adéquation CV ↔ OFFRE CIBLE (titre + contexte), sans contredire fortement le SUJET (OBJET).' : 'Pas de match catalogue ferme : le titre OFFRE CIBLE suit le SUJET — le score mesure surtout l adéquation CV ↔ OBJET ; OFFRE CIBLE rappelle le même intitulé.')) : '';\n\nconst llmUserMessage = `CONTEXTE EMAIL (message reçu):\\nRéférence A — SUJET (OBJET du mail, intention candidat) : ${subject}\\nDe: ${fromLine}\\nNom API: ${init.candidateName || init.fullName || ''}\\nEmail API: ${init.email || ''}\\nExtrait corps:\\n${bodySnippet}\\n\\nRéférence B — OFFRE CIBLE (titre + contexte) :\\nTitre: ${offerTitle}\\nContexte: ${offerDescription}${matchLine}\\n\\nTEXTE CV (décodé serveur PCA, tronqué) :\\n${cvText.slice(0, 15000)}\\n\\nOBJECTIF: extraire fidèlement les informations de CV sans hallucination, puis scorer la candidature selon OBJET + OFFRE CIBLE.`;\n\nconst systemPrompt = `Tu es Senior AI Recruiter pour Payment Center for Africa. Mission: extraction CV fiable + scoring métier strict.\nTu dois renvoyer UNIQUEMENT un JSON valide (sans markdown) avec exactement ces clés:\nsummary, skills, experience, strengths, risks, score, decision, offer_context, school, school_type, phone, experience_count, experience_duration, experience_years_avg, last_employer, candidate_name\n\nRègles NON-NÉGOCIABLES:\n1) Zéro hallucination: si donnée non certaine, mets null/chaîne vide, n'invente jamais.\n2) candidate_name: uniquement nom réel candidat depuis en-tête CV.\n3) school: nom établissement le plus explicite depuis section formation (pas générique).\n4) school_type: PUBLIC ou PRIVE uniquement; sinon null.\n5) experience_count: compter uniquement expériences professionnelles réelles (stages/emplois entreprise), pas projets académiques.\n6) experience_duration: durée totale professionnelle (format lisible, ex: 10 mois, 1 an 2 mois).\n7) experience_years_avg: moyenne par expérience = durée_totale_en_années / experience_count.\n8) last_employer: dernier organisme professionnel réel (jamais 'Actuel', 'Présent', ni titre de projet).\n9) score: entier 0..100 obligatoire, basé STRICTEMENT sur adéquation CV avec Objet + Offre cible (pas score CV générique).\n10) decision: cohérente avec score (ACCEPTEE/REFUSEE/A REVOIR/NON_LISIBLE).\n\nBarème score obligatoire:\n- Adéquation compétences techniques avec offre: /45\n- Adéquation missions/projet métier avec offre: /35\n- Niveau d'expérience utile pour l'offre: /20\nTotal = score.\nSi mismatch fort Objet/Offre/CV: score <= 60.\nSi fort alignement Objet + Offre cible + CV: score >= 75.\n\nSortie: JSON strict uniquement.`;\n\nreturn [\n  {\n    json: {\n      llmUserMessage,\n      systemPrompt,\n      candidatureId: init.id,\n      offerTitle,\n      offerDescription,\n      offerMatchScore: internalMatch,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12768,
        5808
      ],
      "id": "97b62f78-1388-416a-ac9f-7eb43dc5e10b",
      "name": "9 - Assemble LLM payload"
    },
    {
      "parameters": {
        "url": "={{ 'http://127.0.0.1:3005/api/candidatures/cv-text?candidateId=' + encodeURIComponent($('Edit Fields').item.json.candidateId || $('1 - Initialize Candidate API').item.json.candidateId || '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -12992,
        5808
      ],
      "id": "35abc9e0-280b-4545-9374-bee9c2dc1498",
      "name": "8 - Get CV text (PCA, no OpenAI)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst offers = Array.isArray(data.offers) ? data.offers : [];\nconst merge = $('2 - Merge (Email + API response)').first().json;\nconst subjectRaw = String(merge.subject || '').trim();\n\nfunction norm(s) {\n  return String(s || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/^re:\\s*|^fwd:\\s*/gi, '')\n    .replace(/[\\u2010-\\u2015\\u2212]/g, '-')\n    .replace(/[_\\u2013\\u2014\\-]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst STOP = new Set(['le', 'la', 'les', 'des', 'une', 'pour', 'avec', 'stage', 'pfe', 'offre', 'emploi', 'candidature', 'poste', 'job', 'd', 'de', 'du', 'et', 'ou', 'the', 'a', 'an']);\n\nfunction tokens(s) {\n  return norm(s).split(/[^a-z0-9\\u00c0-\\u024f]+/).filter((t) => t.length > 1 && !STOP.has(t));\n}\n\nconst subjN = norm(subjectRaw);\nconst subjTokens = new Set(tokens(subjectRaw));\n\nconst GROUPS = [\n  { keys: ['devops', 'docker', 'aws', 'kubernetes', 'argo', 'terraform', 'jenkins', 'gitlab'], weight: 58 },\n  { keys: ['data', 'analyst', 'bi', 'power', 'etl'], weight: 52 },\n  { keys: ['full', 'stack', 'react', 'javascript', 'angular', 'vue'], weight: 48 },\n  { keys: ['java', 'spring', 'boot'], weight: 42 },\n  { keys: ['cloud', 'azure'], weight: 36 },\n];\n\nfunction scoreOffer(offer) {\n  const title = String(offer.title || '');\n  const tN = norm(title);\n  let score = 0;\n  for (const g of GROUPS) {\n    const subHit = g.keys.some((k) => subjN.includes(k));\n    const titHit = g.keys.some((k) => tN.includes(k));\n    if (subHit && titHit) score += g.weight;\n    if (subHit && !titHit) score -= 24;\n  }\n  if (subjN && tN && tN.length > 24 && subjN.length > 24 && (subjN.includes(tN) || tN.includes(subjN))) score += 88;\n  let overlap = 0;\n  for (const t of tokens(title)) {\n    if (subjTokens.has(t)) overlap++;\n  }\n  score += overlap * 8;\n  return score;\n}\n\nlet best = null;\nlet bestScore = -1e9;\nfor (const o of offers) {\n  const sc = scoreOffer(o);\n  if (sc > bestScore) {\n    bestScore = sc;\n    best = o;\n  }\n}\n\nconst MIN_SCORE = 18;\nlet offerTitle;\nlet offerDescription;\n\nif (best && bestScore >= MIN_SCORE) {\n  offerTitle = best.title;\n  offerDescription = [best.company, best.location].filter(Boolean).join(' - ');\n} else {\n  offerTitle = subjectRaw.replace(/^re:\\s*|^fwd:\\s*/gi, '').trim() || 'Poste';\n  offerDescription = '';\n}\n\nreturn [{ json: { offerTitle, offerDescription, subject: subjectRaw, _offerMatchScore: bestScore } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13424,
        5808
      ],
      "id": "744f74d5-ccac-4dd3-9133-e09de7c54477",
      "name": "7 - Set Offer Context"
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:3005/api/offers/catalog",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -13648,
        5808
      ],
      "id": "cc7c05df-d98d-4aed-bfd4-6f422c8093f0",
      "name": "5 - Fetch Offers Catalog (API)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6968f427-5923-43f8-8619-483367f275b5",
              "name": "status",
              "value": "uploaded",
              "type": "string"
            },
            {
              "id": "0b57c6ad-9dfe-459a-89f5-5a26d687cf91",
              "name": "candidateId",
              "value": "={{ $('1 - Initialize Candidate API').item.json.candidateId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -13872,
        5952
      ],
      "id": "091dadf8-d000-424a-add3-019a0a593d85",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.fullUploadUrl }}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14096,
        5952
      ],
      "id": "bb6e2a6d-db39-4b0e-a0ea-2f980b55e92c",
      "name": "3 - Upload CV to MinIO",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst baseUrl = 'http://127.0.0.1:9000';\n\nreturn items.map((item) => {\n  const uploadUrl = String(item.json.uploadUrl || '').trim();\n  let fullUploadUrl = baseUrl + (uploadUrl.startsWith('/') ? uploadUrl : '/' + uploadUrl);\n  if (!fullUploadUrl.startsWith('http')) fullUploadUrl = baseUrl + '/' + (uploadUrl.replace(/^\\//, '') || 'cvs');\n  const bin = item.binary || {};\n  const attKey = Object.keys(bin).find((k) => k.startsWith('attachment_'));\n  if (attKey && attKey !== 'attachment_0') bin.attachment_0 = bin[attKey];\n  return { json: { ...item.json, fullUploadUrl }, binary: bin };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14304,
        5952
      ],
      "id": "732fbf6b-d6bd-4a92-a77d-6cc41c4ce3f8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -14528,
        5952
      ],
      "id": "115226bb-8339-4176-b931-c0a8b8e83a11",
      "name": "2 - Merge (Email + API response)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:3005/api/test/candidatures",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.from && $json.from.value && $json.from.value[0] ? $json.from.value[0].address : ($json.from || $json.envelope?.from || 'inconnu@email.com') }}"
            },
            {
              "name": "fullName",
              "value": "={{ $json.from && $json.from.value && $json.from.value[0] ? ($json.from.value[0].name || $json.from.value[0].address) : ($json.from || 'Candidat') }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject || 'Sans objet' }}"
            },
            {
              "name": "source",
              "value": "email"
            },
            {
              "name": "text",
              "value": "={{ ($json.text || $json.textPlain || '').toString().slice(0, 500) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -14752,
        6064
      ],
      "id": "9bd26715-5461-40fe-a366-3814ef60d946",
      "name": "1 - Initialize Candidate API"
    },
    {
      "parameters": {
        "jsCode": "// Ne garder que les emails qui ressemblent à une candidature (sujet ou pièce jointe CV)\nconst items = $input.all();\nconst subjectKeywords = /candidature|cv|application|postule|resume|curriculum|offre|emploi/i;\n\nconst filtered = items.filter((item) => {\n  const subject = String(item.json.subject || '').toLowerCase();\n  const bin = item.binary || {};\n  const attKey = Object.keys(bin).find((k) => /^attachment_?\\d*$/i.test(k) || k === 'data');\n  const hasAttachment = attKey && bin[attKey];\n  const fn = (attKey && bin[attKey].fileName) || '';\n  const hasCvAttachment = hasAttachment && /\\.(pdf|docx?)$/i.test(fn);\n  return subjectKeywords.test(subject) || hasCvAttachment;\n});\n\nreturn filtered;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -14944,
        5952
      ],
      "id": "18cff7de-047d-4aac-959a-926ff937a106",
      "name": "0 - Filter Candidature Email"
    },
    {
      "parameters": {
        "downloadAttachments": true,
        "dataPropertyAttachmentsPrefixName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -15168,
        5952
      ],
      "id": "41456954-5f7c-4a74-aeff-d43929c3a923",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "7CoH7h1LsbPuW1yA",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "42b75d3d-c358-49a8-b464-e170dc077121",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -15168,
        5472
      ],
      "id": "e25063d6-e392-4ad3-9d36-ab326fb676d5",
      "name": "Webhook (PCA) — Entretien RH1",
      "webhookId": "eaca192c-cc7a-42cf-a7e2-cb4c062600e8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "186f7202-955b-4813-a1da-6a4ddbf16610",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -15168,
        5680
      ],
      "id": "a8ebf3f7-1fbb-4ffa-82a7-9689363ebcfa",
      "name": "Webhook (PCA) — Entretien RH2",
      "webhookId": "eaca192c-cc7a-42cf-a7e2-cb4c062600e8"
    },
    {
      "parameters": {
        "fromEmail": "hydragaming595@gmail.com",
        "toEmail": "={{ $json.body && $json.body.email ? $json.body.email : $json.email }}",
        "subject": "=Invitation à un entretien Technique– Candidature {{ $json.body && $json.body.subject ? $json.body.subject : $json.subject }}",
        "emailFormat": "text",
        "text": "={{ ($json.body && $json.body.emailBody && String($json.body.emailBody).trim()) ? String($json.body.emailBody).trim() : ('Madame, Monsieur ' + ($json.body && $json.body.candidateName ? $json.body.candidateName : $json.candidateName) + ',\\n\\nSuite à l\\'étude de votre candidature pour le poste de \"' + ($json.body && $json.body.subject ? $json.body.subject : $json.subject) + '\", nous vous invitons à un entretien.\\n\\n- Date et heure : ' + ($json.body && $json.body.scheduledAt ? $json.body.scheduledAt : $json.scheduledAt) + '\\n- Mode : ' + ($json.body && $json.body.mode ? $json.body.mode : $json.mode) + '\\n- Lieu / lien visio : ' + ($json.body && $json.body.location ? $json.body.location : $json.location) + '\\n\\nRestant à votre disposition,\\n\\nCordialement,\\nÉquipe RH – PCA') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -14544,
        5472
      ],
      "id": "5a585ceb-4d97-4129-92d6-07211dda2735",
      "name": "Email — Entretien TECH",
      "webhookId": "5f0667c3-6ec7-4a0c-922d-5f33dfee593e",
      "credentials": {
        "smtp": {
          "id": "Uuo8bp7ZuNoWBkiy",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "hydragaming595@gmail.com",
        "toEmail": "={{ $json.body && $json.body.email ? $json.body.email : $json.email }}",
        "subject": "=Invitation à un entretien DIRECTEUR – Candidature {{ $json.body && $json.body.subject ? $json.body.subject : $json.subject }}",
        "emailFormat": "text",
        "text": "={{ ($json.body && $json.body.emailBody && String($json.body.emailBody).trim()) ? String($json.body.emailBody).trim() : ('Madame, Monsieur ' + ($json.body && $json.body.candidateName ? $json.body.candidateName : $json.candidateName) + ',\\n\\nSuite à l\\'étude de votre candidature pour le poste de \"' + ($json.body && $json.body.subject ? $json.body.subject : $json.subject) + '\", nous vous invitons à un entretien.\\n\\n- Date et heure : ' + ($json.body && $json.body.scheduledAt ? $json.body.scheduledAt : $json.scheduledAt) + '\\n- Mode : ' + ($json.body && $json.body.mode ? $json.body.mode : $json.mode) + '\\n- Lieu / lien visio : ' + ($json.body && $json.body.location ? $json.body.location : $json.location) + '\\n\\nRestant à votre disposition,\\n\\nCordialement,\\nÉquipe RH – PCA') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -14544,
        5680
      ],
      "id": "39731f81-6623-48fb-a825-654d0722198c",
      "name": "Email — Entretien DIRECTEUR",
      "webhookId": "5f0667c3-6ec7-4a0c-922d-5f33dfee593e",
      "credentials": {
        "smtp": {
          "id": "Uuo8bp7ZuNoWBkiy",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (PCA) — Entretien RH": {
      "main": [
        [
          {
            "node": "Email — Entretien RH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11 - Parse LLM JSON": {
      "main": [
        [
          {
            "node": "12 - Save analysis (PCA API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 - OpenAI (credentials n8n)": {
      "main": [
        [
          {
            "node": "11 - Parse LLM JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9 - Assemble LLM payload": {
      "main": [
        [
          {
            "node": "10 - OpenAI (credentials n8n)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8 - Get CV text (PCA, no OpenAI)": {
      "main": [
        [
          {
            "node": "9 - Assemble LLM payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7 - Set Offer Context": {
      "main": [
        [
          {
            "node": "8 - Get CV text (PCA, no OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 - Fetch Offers Catalog (API)": {
      "main": [
        [
          {
            "node": "7 - Set Offer Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "5 - Fetch Offers Catalog (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 - Upload CV to MinIO": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "3 - Upload CV to MinIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 - Merge (Email + API response)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 - Initialize Candidate API": {
      "main": [
        [
          {
            "node": "2 - Merge (Email + API response)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "0 - Filter Candidature Email": {
      "main": [
        [
          {
            "node": "1 - Initialize Candidate API",
            "type": "main",
            "index": 0
          },
          {
            "node": "2 - Merge (Email + API response)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "0 - Filter Candidature Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (PCA) — Entretien RH1": {
      "main": [
        [
          {
            "node": "Email — Entretien TECH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (PCA) — Entretien RH2": {
      "main": [
        [
          {
            "node": "Email — Entretien DIRECTEUR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fc7d07b0-022b-4a7b-8fba-d28ca62a894c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f17546b8c17d9577019299a608659db91eb462ce0cbe9e8ab6f799f98e5043f"
  },
  "id": "V0ARNWjf1Yz7Gjwz",
  "tags": []
}